@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* Body*/
body{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background: linear-gradient(to right, #45425A  15%, #0C0909 29%)
}

/* Header(trademark) */





/* mainLogin This section contains the user login and signup part and an image slider part*/
.mainLogin{
    /* position */
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 40px;
    /* size */
    width: 90em;
    height: 50em;
    /* sytle */
    border-radius: 25px;
    background-color:#FFFBEB;
    box-shadow: 10px -8px 90px #45425A;

    
}

/* mainLogin img part */
.mainLogin #coverImg{
    margin-left: 100px;
    
    /*size*/
    height: 40em;
    /* sytle */
    border-radius: 10%;
    border: 5px solid #0C0909;
    
}

.mainLogin #coverImg img{
    /* sytle */
    border-radius: 10%;
    /*size*/
    width: 100%;
    height: 100%;
}



/* login part */

.mainLogin #login{
    /* position */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* size */
    height: 100%;
    width: 40%;
    /* sytyle */
    background: linear-gradient(to right, #FFFBEB 1%, #45425A 99%);
    border-radius: 0px 20px 20px 0px ;
}

.mainLogin #login h1{
    text-transform: uppercase;
    font-size: 40px;
    
}
.mainLogin #login form{
    /* position */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* size */
    width: 28em;
    gap: 20px;
}

/* label and input part */
.mainLogin #login form label{
    margin-left: 20px;
    font-size: 16px;
}

.mainLogin #login form input{
    border: #0C0909 3px solid;
    border-radius: 20px;
    font-size: 16px;
    padding-left: 35px;
    width: 100%;
    height: 80%;
    background: linear-gradient(to right, #FFFBEB 1%, #45425A 99%);
    ;

}


.mainLogin #formInputG i{
    position: absolute;
    top: 38px;
    left: 15px;

}
.mainLogin #formInputP i{
    position: absolute;
    bottom: 90px;
    right: 10px;
    cursor: pointer;
}

.mainLogin  #login #loginGmail{
    align-content: center;
    width: 26em;
    height: 2.3em;
}


.mainLogin  #login #loginPassword{
    align-content: center;
    width: 26em;
    height: 2.3em;

}
.mainLogin form input::placeholder{
    font-size: 15px;
    padding-left: 5px;
}


/* buttons part */

#loginButton{
margin-top: 15px;
padding: 0px 10px;
align-self: center;
height: 2.5em;
width: 16em;
/* font */
font-size: 16px;
/* body */
border: none;
border-radius: 31px;
border: #0C0909 3px solid;
cursor: pointer;
background: transparent;
transition: all 300ms ;
}

#loginButton:hover{
    background-color: white;
    box-shadow: 0px 5px 50px rgb(22, 21, 21);
    transform: translateY(-5px);
}


/* Footer login part */
.mainLogin #login #footerLogin{
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;

}
.mainLogin #footerLogin a{
    text-decoration: none;
    color: #45425A;
}
.mainLogin #footerLogin a:hover{
    color: white;
}
.mainLogin #login #signupButton{
    /* font */
    font-size: 20px;
    /* body */
    border: none;
    background-color: transparent;
}
.mainLogin #login #signupButton:hover{
    cursor: pointer;
    color: white;
}


/* -----Responsive Part */
@media screen and (max-width: 780px){
    .mainLogin{
        width: 90%;

    }
    .mainLogin #login{
        width: 100%;
        border: 10px;
        

    }
    .mainLogin #login form input{
    }
    .mainLogin #login form{
        width:80%;

    }

    header{
        display: none;
    }
    #coverImg{
        display: none;
    }
   
   
}
