@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;

}
:root{
    --color1:#ffffff;
    --color2: #000000;
    --color3: #a6a6a6;
    --color4: #d58936;
    --color5: #a44200;
    --color6: #69140e;
    --color7: #3c1518;
}
/* Header*/
#logo{
  padding: 10px 0px;
    width:5%;
    border-radius:100%;
    padding-left: 20px;
    padding-right: 20px;
}


.nav {
    position: fixed;
    width: 100%;
    background-color: var(--color6);
    box-shadow: 0 0 10px var(--clr-gray300);
    color: var(--color1);
  }
  
  .nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 2rem;
  }
  
  .nav__list-logo {
    list-style: none;
    margin-right: auto;
    cursor: pointer;
  }
  
  .nav__list-item {
    list-style: none;
    font-weight: 300;
    position: relative;
    padding: 1.5rem 1rem;
    cursor: pointer;
  }
  
  .nav__list-item::after {
    content: "";
    width: 0;
    height: 0.3rem;
    border-radius: var(--radius);
    position: absolute;
    left: 1rem;
    bottom: 0.8rem;
    background-color: var(--color1);
    transition: width 200ms ease-in;
  }
  
  .nav__list-item:hover::after,
  .nav__list-item:focus::after {
    width: 80%;
  }
  
  .nav__list-item:hover ul,
  .nav__list-item:focus ul {
    opacity: 1;
    visibility: visible;
  }
  
  .nav__list-item-drop {
    position: absolute;
    top: 4rem;
    left: -1rem;
    box-shadow: 0 0 10px var(--clr-gray300);
    background-color: var(--color6);
    border-radius: var(--radius);
    width: 12rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
    border-radius: 8px;
  }
  
  .nav__list-item-drop li {
    list-style: none;
    padding: 0.5rem 1rem;
  }
  
  .nav__list-item-drop li:hover,
  .nav__list-item-drop li:focus {
    font-weight: 600;
  }

.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0% 5% 0% 60%;
}
  
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 5%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 400ms;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: var(--color6);
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
    font-weight: 300;
}

.user-info h3 {
    font-weight: 500;
}

.user-info img{
   width: 60px;
   border-radius: 50%;
   margin-right: 15px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100;
    background-color: var(--color1);
    margin: 15px 0px 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color1);
    margin: 12px 0;
}

.sub-menu-link p{
    width: 90%;
}

.sub-menu-link img{
    width: 40px;
    background: var(--color1);
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
 font-size: 16px;
 transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}



/* main */
main{
    /* Position */
    display: flex;
    flex-direction: row;
    padding-top: 104px;
   
    /* size */
    width: 99%;
    height: 90vh;
    /* style */

}
.paragraph{
    font-size: 16px;
}

/* asidebar section */
main aside{
    /* Position */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    align-items: flex-start;
    /* size */
    width: 18%;
    /* style */
    box-shadow: 10px -20px 20px var(--color3);


}

aside .aside-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0px 8px 8px;

    /* size */
    width: 97%;
    height: 20%;
    /* sytle */
    border-bottom: 2px solid black;
    
}

aside .btsSection{

    /* Position */
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* size */
    width: 96.5%;
    /* style */

}


.btsSection button{

    text-align: start;
    font-size: 18px;
    padding-left: 20px;

    /* size */
    width: 104.5%;
    height: 46px;

    /* sytle */
    border: none;
    background: none;
    transition: all ease 300ms;
}
.btsSection button:hover{
    transform: translateX(25px);
    box-shadow: -30px 0px 20px var(--color3);
    background-color: var(--color6);
    color: var(--color1);
    border-radius: 6px;
}

/* Section part */
main section{
     /* test */
    /* border: 5px solid rgb(39, 8, 8);  */
    /*  */
    /* Position */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
   
    /* size */
    width: 100%;
    /* style */
    
}
/* Filter part */
section #filter{
    /* Position */
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    /* size */
    width: 95%;
    /* style */
    border-radius: 10px;
    background-color: rgb(166, 166, 166, .5);
    color: var(--color2);


}

/* Checkboxes Sections */
#filter .checkboxesOptions{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0px;
}
.checkboxesOptions p{
    text-align: center;
}
.checkboxesOptions .checkBoxes{
    display: flex;
    flex-direction: row;
}

#filter input,select{
    border-radius: 6px;
    padding: 0px 10px;
}

/* Table Section */

table {
    border: 1px solid #444;
    border-radius: 5px;
    height: 100%;
    width: 78vw;
    margin-top: 20px;
  }
  

  table th {
    background-color: var(--color6);
    text-align: left;
    font-weight: bold;
    display: table-cell;
    padding: 8px;
    color: var(--color1);
  }
  
  table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }
  
  table td {
    display: table-cell;
    text-align: left;
    padding: 8px;
  }
  
  table tbody tr:nth-child(odd) {
   background-color: var(--color1);
  }
  
  table tbody tr:nth-child(even) {
    background-color: #f0e8e7;
  }


/* Search BAr */
/* Search  establecido por el equipo*/
.field-container-text{
    border: 2px solid black;
    background: #f0e8e7;
    border-radius: 6px;
    padding: 0.5rem;
}

.field-container-text input[type="text"]{
    border: none;
    background: transparent;
    font-style: italic;
}

.field-container-text input[type="text"]::placeholder{
    color: #000000;
    font-style: italic;
}

.field-container-text input[type="text"]:focus{
    border: none;
    outline: unset;
}

/* Button part */

button{
    height: 35px;
    width: 70px;
    
}

  
.first-button {
    border: none;
    border-radius: 0.5rem;
    background-color: #69140e;
    color: white;
}
  
.first-button:hover {
    border: 2px solid #69140e;
    border-radius: 0.5rem;
    background-color: white;
    color: #69140e;
    /* font-weight: 700; */
}
  

/* footer part */
.logo, .derechos{
    margin: auto;
    color: #ffffff;
  }

  .container{
    max-width: 1170px;
    margin:auto;
  }

  .row{
    display: flex;
    flex-wrap: wrap;
  }

  .ul-footer{
    list-style: none;
  }

  .footer{
    background-color: var(--color6);
    padding: 70px 0;
  }

  .footer-col{
     width: 20%;
     padding: 0 15px;
  }

  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }

  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
